<footer class="pie-de-pagina">
    <div class="informacion-general">
        <h5>Ingeniería del Software 3</h5>
        <p>Este curso profundiza en los principios y prácticas avanzadas
            de la Ingeniería del Software, con énfasis en el desarrollo de sistemas complejos y la gestión de proyectos de software.</p>
        <h5>Desarrollado por: Elvio Aguero</h5>
    </div>
    <div class="enlaces">
        <a href="https://gitlab.com/agueroelvio/03-y-19099-motor-planilla">Repositorio GitLab</a>
    </div>
</footer>
