<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }
        .error-container {
            text-align: center;
            margin-top: 100px;
        }
        .error-container h1 {
            font-size: 72px;
            color: #ff0000;
            margin-bottom: 20px;
        }
        .error-container p {
            font-size: 18px;
            color: #333;
            margin-bottom: 30px;
        }
        .error-container a {
            display: inline-block;
            padding: 10px 20px;
            background-color: #00abfb;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }
        .error-container a:hover {
            background-color: #007bbd;
        }
    </style>
</head>
<body>
    <div class="error-container">
        <h1>¡Oops!</h1>
        <p>Lo sentimos, parece que te has perdido en el ciberespacio.</p>
        <p>¡No te preocupes! Puedes volver a la página principal o intentar otra vez.</p>
        <a href="/" class="button">Página principal</a>
    </div>
</body>
</html>

